body {
    color: #fff;
    background: #000;
}

.main {
    width: 100%;
}

.table {
    display:flex;
    justify-content:space-around;
    margin: 1em;
}

.players {
    display:flex;
    flex-direction:column;
    font-size: 2em;
}
.player-active {
    color: #3a5;
    font-size: 2em;
}
.player-not-so-active {
    color: #a00;
}

.word {
    display:flex;
    justify-content:space-around;
    color: #69f;
    font-size: 4em;
}

.error {
  color: #a00;
}
